@import "../variables";
@import "../mixins.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1000;

  .header-container {
    @include dFlex($jc: space-between);
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 72px;
  }

  .social-links {
    @include dFlex($g: 32px);
  }

  .logo-wrapper {
    position: relative;
    flex: 1;
    height: 100%;
  }

  .logo-group {
    @include dFlex($g: 12px);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Quicksand";
    font-size: 24px;
    font-weight: 700;
    color: $highlight-white;
    text-decoration: none;
    transform: translate(-50%, -50%);
    transition: color 125ms ease-in-out, left 125ms ease-in-out,
      transform 125ms ease-in-out;
    &:hover {
      color: $highlight-orange;
    }
  }

  .right-group {
    @include dFlex();
    gap: 16px;
  }

  .btn-language {
    height: 40px;
    width: 40px;
    border: 1px solid $highlight-white;
    border-radius: 100px;
    background-color: transparent;
    color: $highlight-white;
    transition: all 125ms ease-in-out;

    &:hover {
      background-color: $highlight-orange;
      color: $highlight-white;
    }
  }

  .btn-menu {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    > svg {
      color: $highlight-white;
      &:hover {
        color: $highlight-orange;
      }
    }
  }

  &.first {
    .logo-group {
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &:not(.first) {
    .logo-group {
      left: 0;
      transform: translateY(-50%);
    }
  }

  &.light-text {
    .btn-language {
      color: $highlight-white;
      border-color: $highlight-white;
    }
  }

  &.dark-text {
    a {
      color: $highlight-dark;
    }
    .btn-language {
      color: $highlight-dark;
      border-color: $highlight-dark;
      &:hover {
        color: $highlight-white;
      }
    }
    .btn-menu {
      > svg {
        color: $highlight-dark;
        &:hover {
          color: $highlight-orange;
        }
      }
    }
  }
}
