@import "../mixins.scss";
@import "../variables";

section {
  @include standardSection();
  background-color: $background-bright;
  position: relative;
  > h2 {
    position: absolute;
    top: 160px;
    right: 112px;
  }
  > img {
    position: absolute;
    left: 112px;
    bottom: 0;
  }
}

.textbox {
  @include dFlex($fd: column, $jc: space-between, $g: 32px);
  position: absolute;
  top: 350px;
  left: 554px;
  width: 600px;
  height: 250px;
  background-color: $background-dark;
  color: $highlight-white;
  padding: 32px;
  border-radius: 4px;
  .textbox-footer {
    @include dFlex($jc: space-between);
    width: 100%;
    > a {
      @include standardButton();
    }
    .overlay-wrapper {
      position: relative;
      display: inline-block;
      > img {
        @include floating-icon();
        cursor: pointer;
      }
      &:hover .overlay {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  .overlay {
    @include dFlex($fd: column, $g: 16px);
    position: absolute;
    bottom: -285px;
    right: -210px;
    z-index: 999;
    width: 272px;
    padding: 32px;
    border: 1px solid $highlight-dark;
    border-radius: 4px;
    background-color: $background-blue;
    color: $highlight-white;
    transition: transform 125ms ease, opacity 125ms ease;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    > ul {
      @include dFlex($fd: column, $ai: flex-start, $g: 8px);
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin: 0;
      > li {
        @include dFlex($jc: flex-start, $g: 8px);
        @include standardText();
      }
    }
  }
}
