<section>
  <h2>{{ translationService.translate("references.headline") }}</h2>
  <div class="ref-wrapper">
    @for (reference of references; let i = $index; track i) {
    <div class="ref-container">
      <div [ngStyle]="{ 'margin-top.px': i * i * 60 }" class="ref-box">
        <div class="ref-header">
          <h4>{{ reference.name }}</h4>
          <img src="/assets/img/spinning_shape.svg" alt="" />
        </div>
        <p>
          {{
            translationService.translate(
              "references.reference" + (i + 1) + ".feedback"
            )
          }}
        </p>
        <h5>
          {{
            translationService.translate(
              "references.reference" + (i + 1) + ".role"
            )
          }}
        </h5>
      </div>
      <a [href]="reference.link" target="_blank"
        >{{ translationService.translate("references.link") }} >></a
      >
    </div>
    }
  </div>
</section>
