@import "../../variables";
@import "../../mixins.scss";

section {
  @include standardSection();
  @include dFlex($jc: space-between);
  background-color: $background-bright;
  position: relative;
  .img-container,
  .headline-container {
    height: 100%;
  }
  .img-container {
    @include dFlex($ai: flex-end);
  }
  .headline-container {
    @include dFlex($ai: flex-start);
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    .headline-container {
      order: 1;
      width: 100%;
      justify-content: flex-end;
    }
    .img-container {
      order: 2;
      width: 100%;
      justify-content: flex-start;
    }
    .textbox {
      position: static;
      order: 3;
    }
  }
  @media screen and (max-width: 992px) {
    .img-container > img {
      width: 240px;
    }
  }
}

.textbox {
  @include dFlex($fd: column, $jc: space-between, $g: 32px);
  position: absolute;
  top: 350px;
  left: 554px;
  width: 600px;
  height: 250px;
  background-color: $background-dark;
  color: $highlight-white;
  padding: 32px;
  border-radius: 4px;
  .textbox-footer {
    @include dFlex($jc: space-between);
    width: 100%;
    > a {
      @include standardButton();
    }
    .overlay-wrapper {
      position: relative;
      display: inline-block;
      > img {
        @include floating-icon();
        cursor: pointer;
      }
      &:hover .overlay {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @media screen and (max-width: 1300px) {
      left: unset;
      right: 160px;
    }
  }
  .overlay {
    @include dFlex($fd: column, $g: 16px);
    position: absolute;
    bottom: -285px;
    right: -210px;
    z-index: 999;
    width: 272px;
    padding: 32px;
    border: 1px solid $highlight-dark;
    border-radius: 4px;
    background-color: $background-blue;
    color: $highlight-white;
    transition: transform 125ms ease, opacity 125ms ease;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    > ul {
      @include dFlex($fd: column, $ai: flex-start, $g: 8px);
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin: 0;
      > li {
        @include dFlex($jc: flex-start, $g: 8px);
        @include standardText();
      }
    }
  }
}
