<section>
  <h2>About me</h2>
  <img src="/assets/img/second-photo.png" alt="" />
  <div class="textbox">
    <p>
      Hey there, I'm Tobias. Write some information about yourself that is IT
      related. Why are you passionate about coding? What is your source of
      inspiration for improving your programming skills? Do you learn from each
      challenge as you search for the most efficient or elegant solution? Let's
      connect and create something amazing together!
    </p>
    <div class="textbox-footer">
      <a href="#contact">Let's Talk</a>
      <div class="overlay-wrapper">
        <img src="../../assets/img/icon_secret.svg" alt="" />
        <div class="overlay">
          <h4>More about me</h4>
          <ul>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />Team
              player
            </li>
            <li>
              <img
                src="/assets/img/check_circle.svg"
                alt="Checkmark"
              />Continuosly learning
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />Creative
              Thinker
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />Based in
              Saxony-Anhalt
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />Open to
              work remote
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />Open to
              relocate
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
