<section>
  <h2>{{ translationService.translate("aboutMe.headline") }}</h2>
  <img src="/assets/img/second-photo.png" alt="" />
  <div class="textbox">
    <p>
      {{ translationService.translate("aboutMe.text") }}
    </p>
    <div class="textbox-footer">
      <a href="#contact">{{
        translationService.translate("aboutMe.button")
      }}</a>
      <div class="overlay-wrapper">
        <img src="../../assets/img/icon_secret.svg" alt="" />
        <div class="overlay">
          <h4>
            {{ translationService.translate("aboutMe.hiddenMenu.headline") }}
          </h4>
          <ul>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />{{
                translationService.translate("aboutMe.hiddenMenu.first")
              }}
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />{{
                translationService.translate("aboutMe.hiddenMenu.second")
              }}
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />{{
                translationService.translate("aboutMe.hiddenMenu.third")
              }}
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />{{
                translationService.translate("aboutMe.hiddenMenu.thourth")
              }}
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />{{
                translationService.translate("aboutMe.hiddenMenu.fifth")
              }}
            </li>
            <li>
              <img src="/assets/img/check_circle.svg" alt="Checkmark" />{{
                translationService.translate("aboutMe.hiddenMenu.sixth")
              }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
