@import "../../variables";
@import "../../mixins.scss";

// =======================
// SECTION
// =======================
section {
  @include standardSection();
  @include dFlex($jc: space-between, $g: 32px);
  background-color: $background-bright;
  position: relative;

  .img-container,
  .headline-container {
    height: 100%;
  }

  .img-container {
    @include dFlex($ai: flex-end);
  }

  .headline-container {
    @include dFlex($ai: flex-start);
  }

  .textbox-wrapper {
    position: absolute;
    left: 39%;
    top: 40%;
  }

  @media screen and (max-width: 1200px) {
    .headline-container h2 {
      font-size: 62px;
    }
  }

  @media screen and (max-width: 992px) {
    padding-top: 80px;
    flex-direction: column;
    justify-content: flex-start;

    .headline-container {
      order: 1;
      width: 100%;
      justify-content: flex-end;
    }

    .img-container {
      order: 2;
      justify-content: flex-start;
      width: 100%;

      img {
        width: 62%;
      }
    }

    .textbox-wrapper {
      @include dFlex($jc: flex-end);
      position: static;
      width: 100%;
      transform: translateY(-50%);
      order: 3;
    }
  }

  @media screen and (max-width: 768px) {
    .headline-container h2 {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 480px) {
    .textbox-wrapper {
      transform: translateY(-25%);
    }
  }
}

// =======================
// TEXTBOX
// =======================
.textbox {
  @include dFlex($fd: column, $jc: space-between, $g: 32px);
  width: clamp(240px, 41.67vw, 600px);
  min-height: 250px;
  background-color: $background-dark;
  color: $highlight-white;
  padding: 32px;
  border-radius: 4px;

  .textbox-footer {
    @include dFlex($jc: space-between);
    width: 100%;

    > a {
      @include standardButton();
    }

    .overlay-wrapper {
      @include dFlex($jc: flex-end);
      position: relative;

      > img {
        @include floating-icon();
        cursor: pointer;
        z-index: 1;
      }

      &:hover .overlay {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .overlay {
    @include dFlex($fd: column, $g: 16px);
    position: absolute;
    bottom: -285px;
    right: -210px;
    z-index: 10;
    width: 272px;
    padding-top: 32px;
    border: 1px solid $highlight-dark;
    border-radius: 4px;
    background-color: $background-blue;
    color: $highlight-white;
    transition: transform 125ms ease, opacity 125ms ease;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;

    .overlay-header {
      @include dFlex($jc: space-between);
      padding: 0 16px;
      width: 100%;
      .btn-close-overlay {
        display: none;
        background: none;
        border: none;
        z-index: 10;
        svg {
          color: $highlight-white;
        }
        &:hover {
          svg {
            color: $highlight-orange;
          }
        }
      }
    }

    .overlay-body {
      @include dFlex($fd: column, $g: 16px);
      padding: 0 32px 32px 32px;
      > ul {
        @include dFlex($fd: column, $ai: flex-start, $g: 8px);
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;

        > li {
          @include dFlex($jc: flex-start, $g: 8px);
          @include standardText();
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    left: unset;
    right: 160px;
    top: 400px;
  }

  @media screen and (max-width: 992px) {
    padding: 16px;
    .overlay {
      right: unset;
      left: unset;
      top: -120px;
      height: 284px;
      .overlay-header {
        .btn-close-overlay {
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .overlay {
      top: -150px;
    }
  }
}
