@import "../variables";
@import "../mixins.scss";

section {
  @include standardSection();
  @include dFlex($jc: space-between);
  background-color: $background-blue;
  color: $highlight-white;
}

button {
  @include standardButton();
  margin-top: 16px;
}

.left-side {
  @include dFlex($fd: column, $jc: space-between, $ai: flex-start);
  height: 100%;
}

.right-side {
  @include dFlex($ai: flex-end);
  position: relative;
  height: 100%;
}

.introduction {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
}

.scroll-widget {
  @include dFlex();
  position: relative;
  padding-bottom: 100px;
}

.scroll-down {
  @include rotate-image();
  width: 144px;
  height: 144px;
}

.arrow-down {
  position: absolute;
  height: 40px;
  z-index: 99;
}

.profile-picture {
  z-index: 99;
  width: 720px;
  height: 720px;
}

.background-object {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -10px;
  width: 500px;
  height: 500px;
}
