@import "../variables";
@import "../mixins.scss";

nav {
  @include dFlex($fd: column, $g: 20px);
  position: fixed;
  top: calc(50% - 104px);
  right: calc(50% - 720px + 72px);
  z-index: 999;
  &.light-text {
    a {
      color: $highlight-white;
    }
    a[aria-current="true"] svg {
        color: $highlight-yellow;
      }
  }
  &.dark-text {
    a {
      color: $highlight-dark;
    }
    a[aria-current="true"] svg {
        color: $highlight-orange;
      }
  }
}
