@import "../../variables";
@import "../../mixins.scss";

section {
  @include standardSection();
  @include dFlex($fd: column, $ai: flex-start);
  background-color: $background-dark;
  position: relative;
}

.section-container {
  @include dFlex($ai: flex-start, $g: 64px);
  height: 100%;
}

.left-side {
  @include dFlex($fd: column, $ai: flex-start, $g: 64px);
  width: 43.42%;
  > div {
    @include dFlex($fd: column, $ai: flex-start, $g: 16px);
  }
}

.right-side {
  @include dFlex($fd: column, $jc: flex-end, $g: 40px);
  height: 100%;
  width: 50%;
}

h2 {
  color: $highlight-yellow;
  letter-spacing: 0;
}

h4 {
  color: $highlight-orange;
}

p {
  color: $highlight-white;
}

form {
  @include dFlex($fd: column, $g: 48px);
  width: 100%;
}

button {
  @include standardButton();
  margin-top: -28px;
  &:disabled {
    pointer-events: none;
    border-color: #858585;
    color: #858585;
  }
}

.form-group {
  @include dFlex($jc: flex-start, $g: 32px);
  width: 100%;
}

.checkbox-group {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
  width: 100%;
  > p {
    color: #ec7b7b;
    height: 20px;
  }
}

.checkbox-error {
  visibility: hidden;
  opacity: 0;
  transition: opacity 75ms ease-in-out;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.input-wrapper {
  @include dFlex($fd: column, $g: 10px);
  padding: 16px 0 16px 16px;
  border-bottom: 1px solid $highlight-yellow;
  width: 100%;
  transition: border 125ms ease-in-out;
  > label,
  input,
  textarea {
    width: 100%;
    line-height: 23px;
    resize: none;
  }

  > input,
  textarea {
    height: 23px;
  }

  > textarea {
    overflow: hidden;
  }
  &:focus-within {
    border-color: $highlight-orange;
    label {
      color: $highlight-orange;
      transition: color 125ms ease-in-out;
    }
  }
  &.invalid {
    border-color: $highlight-orange;
  }
}

label {
  @include standardText($fs: 24px);
  color: $highlight-white;
}

input[type="text"],
[type="email"],
textarea {
  @include standardText();
  color: $highlight-white;

  border: none;
  background-color: transparent;
  outline: none;
}

.checkbox-wrapper {
  @include dFlex($jc: flex-start, $g: 8px);
  cursor: pointer;

  label {
    font-size: 16px;
    user-select: none;
    @include standardText();
    > a {
      @include standardText();
      color: $highlight-orange;
      transition: all 125ms ease-in-out;
      &:hover {
        font-weight: 700;
        color: $highlight-white;
      }
    }
  }
}

input.invalid::placeholder,
textarea.invalid::placeholder {
  color: #ec7b7bcc;
}

.checkbox-icon {
  position: relative;
  width: 15px;
  height: 15px;

  img {
    width: 15px;
    height: 15px;
    z-index: 1;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #f9af4280;
    border-radius: 38px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 125ms ease-in-out;
    z-index: 0;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(1);
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $highlight-dark inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes slideUpFadeInOut {
  0% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}

.success-toast {
  @include standardText($fs: 18px, $fw: 700);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 300px;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $highlight-orange;
  color: $highlight-white;
  padding: 12px 12px;
  border-radius: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: slideUpFadeInOut 3s ease forwards;
  z-index: 1000;
}

app-footer {
  width: 100%;
}

.form-actions {
  .arrow-up-responsive {
    display: none;
  }

  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    .arrow-up-responsive {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      color: $highlight-white;
      text-align: center;
      z-index: 999;
      > svg {
        animation: arrowPulse 1.2s ease-in-out infinite;
        transform-origin: center;
      }
      &:hover {
        color: $highlight-orange;
        border-bottom: 1px solid $highlight-orange;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  section {
    padding-top: 80px;
  }

  .section-container,
  .form-group {
    flex-direction: column;
  }

  .section-container {
    padding-bottom: 80px;
  }

  form,
  .right-side,
  .left-side,
  .input-wrapper {
    width: 100%;
  }

  h2 {
    width: 75%;
  }
}
