<section>
  <div>
    <div class="left-side">
      <h2>{{ translationService.translate("contact.headline") }}</h2>
      <div>
        <h4>{{ translationService.translate("contact.subheading") }}</h4>
        <p>
          {{ translationService.translate("contact.text") }}
        </p>
      </div>
    </div>
    <div class="right-side">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-group">
          <div
            class="input-wrapper"
            [class.invalid]="!name.valid && name.touched"
          >
            <label for="name">{{
              translationService.translate("contact.form.name.headline")
            }}</label>
            <input
              #name="ngModel"
              [(ngModel)]="contactData.name"
              [ngClass]="{ invalid: !name.valid && name.touched }"
              type="text"
              id="name"
              name="name"
              [placeholder]="getNamePlaceholder(name)"
              required
            />
          </div>

          <div
            class="input-wrapper"
            [class.invalid]="!email.valid && email.touched"
          >
            <label for="email">{{
              translationService.translate("contact.form.email.headline")
            }}</label>
            <input
              #email="ngModel"
              [(ngModel)]="contactData.email"
              [ngClass]="{ invalid: !email.valid && email.touched }"
              type="email"
              id="email"
              name="email"
              [placeholder]="getEmailPlaceholder(email)"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              required
            />
          </div>
        </div>

        <div
          [ngStyle]="{ 'width.%': 100 }"
          class="input-wrapper"
          [class.invalid]="!message.valid && message.touched"
        >
          <label for="message">{{
            translationService.translate("contact.form.message.headline")
          }}</label>
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            [ngClass]="{ invalid: !message.valid && message.touched }"
            id="message"
            name="message"
            [placeholder]="getMessagePlaceholder(message)"
            required
          ></textarea>
        </div>

        <div class="checkbox-group">
          <div class="checkbox-wrapper" (click)="toggleCheckbox()">
            <div class="checkbox-icon">
              <img
                [src]="
                  isChecked
                    ? '/assets/img/checkbox_checked.svg'
                    : '/assets/img/checkbox.svg'
                "
                alt="checkbox"
              />
            </div>

            <label
              >{{
                translationService.translate(
                  "contact.form.privacyPolicy.firstPart"
                )
              }}
              <a routerLink="/privacy-policy">{{
                translationService.translate("contact.form.privacyPolicy.link")
              }}</a>
              {{
                translationService.translate(
                  "contact.form.privacyPolicy.secondPart"
                )
              }}</label
            >
            <input
              type="checkbox"
              #agreement="ngModel"
              [(ngModel)]="isChecked"
              name="agreement"
              required
              hidden
            />
          </div>
          <p
            class="checkbox-error"
            [class.visible]="agreement.invalid && agreement.touched"
          >
          {{ translationService.translate('contact.form.privacyPolicy.error') }}
          </p>
        </div>

        <button type="submit" [disabled]="!contactForm.valid">
          {{ translationService.translate('contact.form.button') }}
        </button>
      </form>
    </div>
    <div class="success-toast" *ngIf="showSuccess">
      {{ translationService.translate('contact.form.success') }}
    </div>
  </div>
  <app-footer></app-footer>
</section>
