<section>
  <div class="section-container">
    <div class="left-side">
      <h2>{{ translationService.translate("contact.headline") }}</h2>
      <div>
        <h4>{{ translationService.translate("contact.subheading") }}</h4>
        <p [innerHTML]="translationService.translate('contact.text')"></p>
      </div>
    </div>
    <div class="right-side">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-group">
          <div
            class="input-wrapper"
            [class.invalid]="!name.valid && name.touched"
          >
            <label for="name">{{
              translationService.translate("contact.form.name.headline")
            }}</label>
            <input
              #name="ngModel"
              [(ngModel)]="contactData.name"
              [ngClass]="{ invalid: !name.valid && name.touched }"
              type="text"
              id="name"
              name="name"
              [placeholder]="
                !name.valid && name.touched && !name.disabled
                  ? translationService.translate('contact.form.name.error')
                  : translationService.translate(
                      'contact.form.name.placeholder'
                    )
              "
              required
            />
          </div>

          <div
            class="input-wrapper"
            [class.invalid]="!email.valid && email.touched"
          >
            <label for="email">{{
              translationService.translate("contact.form.email.headline")
            }}</label>
            <input
              #email="ngModel"
              [(ngModel)]="contactData.email"
              [ngClass]="{
                invalid:
                  (!email.valid && email.touched) ||
                  (email.errors && email.errors['pattern'] && email.touched)
              }"
              type="email"
              id="email"
              name="email"
              [placeholder]="
                !email.valid && email.touched && !email.disabled
                  ? translationService.translate('contact.form.email.error')
                  : translationService.translate(
                      'contact.form.email.placeholder'
                    )
              "
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              required
            />
          </div>
        </div>

        <div
          [ngStyle]="{ 'width.%': 100 }"
          class="input-wrapper"
          [class.invalid]="!message.valid && message.touched"
        >
          <label for="message">{{
            translationService.translate("contact.form.message.headline")
          }}</label>
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            [ngClass]="{ invalid: !message.valid && message.touched }"
            id="message"
            name="message"
            [placeholder]="
              !message.valid && message.touched && !message.disabled
                ? translationService.translate('contact.form.message.error')
                : translationService.translate(
                    'contact.form.message.placeholder'
                  )
            "
            required
          ></textarea>
        </div>

        <div class="checkbox-group">
          <div class="checkbox-wrapper" (click)="toggleCheckbox()">
            <div class="checkbox-icon">
              <img
                [src]="
                  isChecked
                    ? '/assets/img/checkbox_checked.svg'
                    : '/assets/img/checkbox.svg'
                "
                alt="checkbox"
              />
            </div>

            <label
              >{{
                translationService.translate(
                  "contact.form.privacyPolicy.firstPart"
                )
              }}
              <a routerLink="/privacy-policy">{{
                translationService.translate("contact.form.privacyPolicy.link")
              }}</a>
              {{
                translationService.translate(
                  "contact.form.privacyPolicy.secondPart"
                )
              }}</label
            >
            <input
              type="checkbox"
              #agreement="ngModel"
              [(ngModel)]="isChecked"
              name="agreement"
              required
              hidden
            />
          </div>
          <p
            class="checkbox-error"
            [class.visible]="agreement.invalid && agreement.touched"
          >
            {{
              translationService.translate("contact.form.privacyPolicy.error")
            }}
          </p>
        </div>
        <div class="form-actions">
          <button type="submit" [disabled]="!contactForm.valid">
            {{ translationService.translate("contact.form.button") }}
          </button>
          <a class="arrow-up-responsive" href="#hero">
            <svg
              width="8"
              height="17"
              viewBox="0 0 8 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.35355 0.646447C4.15829 0.451184 3.84171 0.451184 3.64645 0.646447L0.464466 3.82843C0.269204 4.02369 0.269204 4.34027 0.464466 4.53553C0.659728 4.7308 0.976311 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646447ZM3.5 17C3.5 17.2761 3.72386 17.5 4 17.5C4.27614 17.5 4.5 17.2761 4.5 17H3.5ZM3.5 1V17H4.5V1H3.5Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
      </form>
    </div>
    <div class="success-toast" *ngIf="showSuccess">
      {{ translationService.translate("contact.form.success") }}
    </div>
  </div>
  <app-footer></app-footer>
</section>
