<section>
  <h2>Core Competencies</h2>
  <div class="textbox">
    <p>
      Emphasise that you have used a variety of front-end technologies in your
      projects. Where have you used these skills: static or dynamic websites,
      responsive layouts, data visualization interfaces, smooth user
      experiences?
    </p>
  </div>
  <div class="secret-widget">
    <img class="rotate-shape" src="/assets/img/spinning_shape.svg" alt="" />
    <img class="learning-icon" src="/assets/img/icon_learning.svg" alt="" />
  </div>
  <!--
    TODO: Container mit Skill-Icons, pro Reihe ein Container, Schleife nutzen um Icons einzubinden
  -->
  <div class="skills">
    @for (index of [0,1,2,3,4,5,6,7,8,9]; track $index) {
    <div class="skill-item">
      <img src="/assets/img/skill_{{ index + 1 }}.svg" alt="" />
      <p [innerHTML]="skillNames[index]"></p>
    </div>
    }
  </div>
</section>
