<section>
  <div class="headline">
    <h2>My work</h2>
    <p>
      Explore a selection of my work here - Interact with the projects to see my
      skills in action.
    </p>
  </div>
  <div class="projects">
    <div class="screenshot-container">
      <img class="screenshot" src="/assets/img/screenshot-sharkie.png" alt="" />
      <img class="spinner" src="/assets/img/spinning_shape.svg" alt="" />
    </div>
    <div class="project-container">
      <div class="project-description">
        <div class="project-header">
            <h4>Join</h4>
            <img src="/assets/img/icon_shark.png" alt="">
        </div>
        <p>HTML | CSS | JavaScript</p>
        <p>A simple Jump-and-Run game based on an object-oriented approach. </p>
      </div>
      <div class="project-switch">
        <button><< Previous project</button>
        <button>Next project >></button>
      </div>
    </div>
  </div>
</section>
