@import "../variables";
@import "../mixins.scss";

section {
  @include dFlex();
  height: 100vh;
  width: 100vw;
  /* @media screen and (max-width: 992px) {
    min-height: 100vh;
    height: 100%;
  } */
}

button {
  @include standardButton;
}

.scroll-container {
  height: 100vh;
  background-color: $background-dark;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-container > * {
  scroll-snap-align: start;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  section {
    height: auto;
    min-height: 100vh; // Optional, damit jede Section mindestens Viewport-Höhe hat
  }
  .scroll-container {
    position: relative;
    overflow-y: auto;
    scroll-snap-type: none;
    > * {
      height: auto;
      min-height: 100vh; // Optional
    }
  }
}
