<app-header></app-header>
<div class="scroll-container">

  <section [ngStyle]="{ 'background-color': '#679AAC' }" id="hero">
    <app-hero></app-hero>
  </section>

  <section [ngStyle]="{ 'background-color': '#F8F7E5' }">
    <app-about-me></app-about-me>
  </section>

  <section [ngStyle]="{ 'background-color': '#1D1D1D' }">
    <app-skills></app-skills>
  </section>

  <section [ngStyle]="{ 'background-color': '#F8F7E5' }">
    <app-portfolio></app-portfolio>
  </section>

  <section [ngStyle]="{ 'background-color': '#679AAC' }">
    <app-references></app-references>
  </section>

  <section [ngStyle]="{ 'background-color': '#1D1D1D' }" id="contact">
    <app-contact></app-contact>
  </section>
</div>

<router-outlet></router-outlet>
