<section #section data-bg="#679AAC">
  <app-hero></app-hero>
</section>

<section #section data-bg="#F8F7E5">
  <app-about-me></app-about-me>
</section>

<section #section data-bg="#1D1D1D">
  <app-skills></app-skills>
</section>

<section #section data-bg="#F8F7E5">
  <app-portfolio></app-portfolio>
</section>

<section #section data-bg="#679AAC">
  <app-references></app-references>
</section>

<section #section data-bg="#1D1D1D">
  <app-contact></app-contact>
</section>

<router-outlet></router-outlet>
