@import "variables";

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin standardSection(
  $w: 100vw,
  $h: 100vh,
  $mw: 1440px,
  $pt: 160px,
  $pb: 0,
  $pl: 112px,
  $pr: 112px
) {
  width: $w;
  height: $h;
  max-width: $mw;
  padding: $pt $pr $pb $pl;
  @media screen and (max-width: 992px) {
    min-height: 100vh;
    height: 100%;
  }
  @media screen and (max-width: 768px) {
    padding: $pt 16px $pb 16px;
  }
}

@mixin standardButton($ptb: 12px, $plr: 24px, $g: 10px) {
  height: 40px;
  border: 1px;
  border-style: solid;
  border-radius: 100px;
  border-color: $highlight-white;
  padding: $ptb $plr;
  gap: $g;
  background-color: transparent;
  color: $highlight-white;
  @include standardText($fs: 18px, $fw: 700);
  @include dFlex();
  transition: all 125ms ease-in-out;
  &:hover {
    background-color: $highlight-orange;
  }
}

@mixin standardText($fs: 16px, $fw: 400) {
  font-family: 'Quicksand';
  font-weight: $fw;
  font-size: $fs;
  line-height: 120%;
  letter-spacing: 0%;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@mixin rotate-image {
  animation: rotate360 7s linear infinite;
}

@mixin rotate-image-negative {
  animation: rotate-360 7s linear infinite;
}

@keyframes floatSmooth {
  0%,
  100% {
    transform: translateY(5px);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-5px);
    animation-timing-function: ease-in-out;
  }
}

@mixin floating-icon {
  animation: floatSmooth 1s ease-in-out infinite;
}

@keyframes arrowPulse {
  0% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-31px) scaleY(1.5);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
