@import "../../variables";
@import "../../mixins.scss";

section {
  @include standardSection();
  @include dFlex($jc: space-between);
  background-color: $background-blue;
  color: $highlight-white;
  overflow-x: hidden;

  .left-side {
    @include dFlex($fd: column, $jc: space-between, $ai: flex-start);
    height: 100%;

    .introduction {
      @include dFlex($fd: column, $ai: flex-start, $g: 8px);
      a {
        @include standardButton();
        margin-top: 16px;
      }
    }

    .scroll-widget {
      @include dFlex();
      position: relative;
      padding-bottom: 100px;

      .scroll-down {
        @include rotate-image();
        width: 144px;
        height: 144px;
      }

      .arrow-down {
        position: absolute;
        height: 40px;
        z-index: 99;
      }
    }
  }

  .right-side {
    @include dFlex($ai: flex-end);
    position: relative;
    height: 100%;

    .profile-picture {
      z-index: 99;
      height: 720px;
      position: absolute;
      right: -50px;
    }

    .background-object {
      position: absolute;
      z-index: 1;
      bottom: 290px;
      right: -10px;
      width: 500px;
      height: 500px;
    }
  }

  @media screen and (max-width: 1440px) {
    .right-side {
      .profile-picture {
        height: 555px;
      }
      .background-object {
        width: 383px;
        height: 383px;
        bottom: 200px;
      }
    }

    @media screen and (max-width: 1200px) {
      .left-side {
        .scroll-widget {
          padding-bottom: 0px;
          bottom: 9px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: space-between;
    padding-top: 84px;

    .right-side {
      .profile-picture {
        position: static;
      }
      .background-object {
        top: 0;
      }
    }

    .left-side {
      width: 100%;
      justify-content: center;

      .scroll-widget {
        position: absolute;
        z-index: 999;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .left-side {
      .scroll-widget {
        left: 9px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .left-side {
      .scroll-widget {
        .scroll-down {
          width: 80px;
          height: 80px;
        }

        .arrow-down {
          height: 32px;
        }
      }
    }

    .right-side {
      .profile-picture {
        height: 390px;
      }

      .background-object {
        width: 266px;
        height: 266px;
      }
    }
  }

  @media screen and (max-height: 768px) {
    .left-side > .scroll-widget {
      display: none;
    }
  }
}
