<section>
  <div class="left-side">
    <div class="introduction">
      <h3>{{ translationService.translate('hero.greeting') }}</h3>
      <h1>Tobias Klanert</h1>
      <h3>{{ translationService.translate('hero.title') }}</h3>
      <a href="#contact">{{ translationService.translate('hero.contact') }}</a>
    </div>
    <div class="scroll-widget">
      <img class="scroll-down" src="/assets/img/scroll-down.svg" alt="" />
      <img class="arrow-down" src="../../assets/img/arrow_down.svg" alt="" />
    </div>
  </div>
  <div class="right-side">
    <img class="profile-picture" src="/assets/img/profile-picture.png" alt="" />
    <img
      class="background-object"
      src="/assets/img/spinning_shape.svg"
      alt=""
    />
  </div>
</section>
