<div class="scroll-container">
  <app-header></app-header>
  <div class="wrapper" id="privacy-policy">
    <section>
      <h2>
        {{ translationService.translate("privacyPolicy.headline1") }}<br />{{
          translationService.translate("privacyPolicy.headline2")
        }}
      </h2>
      <h4 id="m4158">
        {{ translationService.translate("privacyPolicy.preamble.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.preamble.text") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.preamble.genderNote") }}
      </p>

      <p>
        {{ translationService.translate("privacyPolicy.preamble.status") }}: 27.
        April 2025
      </p>
      <h4>{{ translationService.translate("privacyPolicy.contents") }}</h4>
      <ul class="index">
        <li>
          <a class="index-link" (click)="scrollTo('m4158', $event)">{{
            translationService.translate("privacyPolicy.preamble.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m3', $event)">{{
            translationService.translate("privacyPolicy.responsible")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('mOverview', $event)">{{
            translationService.translate("privacyPolicy.overview.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m2427', $event)">{{
            translationService.translate("privacyPolicy.legalBasis.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m27', $event)">{{
            translationService.translate("privacyPolicy.security.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m25', $event)">{{
            translationService.translate("privacyPolicy.dataTransmission.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m24', $event)">{{
            translationService.translate(
              "privacyPolicy.internationalData.title"
            )
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m12', $event)">{{
            translationService.translate("privacyPolicy.dataStorage.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m10', $event)">{{
            translationService.translate("privacyPolicy.rights.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m225', $event)">{{
            translationService.translate("privacyPolicy.webhosting.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m134', $event)">{{
            translationService.translate("privacyPolicy.cookies.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m182', $event)">{{
            translationService.translate("privacyPolicy.contact.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m136', $event)">{{
            translationService.translate("privacyPolicy.socialMedia.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m328', $event)">{{
            translationService.translate("privacyPolicy.plugIns.title")
          }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m15', $event)"
            >Änderung und Aktualisierung</a
          >
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m42', $event)"
            >Begriffsdefinitionen</a
          >
        </li>
      </ul>
      <h4 id="m3">
        {{ translationService.translate("privacyPolicy.responsible") }}
      </h4>
      <p>
        Tobias Klanert<br />Carl-Christian-Agthe-Str. 12<br />06333 Hettstedt
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.representatives") }}:
        Tobias Klanert
      </p>
      <p>E-Mail: tobias.klanert&#64;t-online.de</p>

      <h4 id="mOverview">
        {{ translationService.translate("privacyPolicy.overview.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.overview.text") }}
      </p>
      <h5>
        {{ translationService.translate("privacyPolicy.overview.subheading1") }}
      </h5>
      <ul>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li1") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li2") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li3") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li4") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li5") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li6") }}
        </li>
      </ul>
      <h5>
        {{ translationService.translate("privacyPolicy.overview.subheading2") }}
      </h5>
      <ul>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul2.li1") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul2.li2") }}
        </li>
      </ul>
      <h5>
        {{ translationService.translate("privacyPolicy.overview.subheading3") }}
      </h5>
      <ul>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li1") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li2") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li3") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li4") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li5") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li6") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li7") }}
        </li>
      </ul>
      <h4 id="m2427">
        {{ translationService.translate("privacyPolicy.legalBasis.title") }}
      </h4>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.legalBasis.subheading1")
        }}</strong>
        {{ translationService.translate("privacyPolicy.legalBasis.text1") }}
      </p>
      <ul>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.legalBasis.li1.subheading"
            )
          }}</strong>
          -
          {{
            translationService.translate("privacyPolicy.legalBasis.li1.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.legalBasis.li2.subheading"
            )
          }}</strong>
          -
          {{
            translationService.translate("privacyPolicy.legalBasis.li2.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.legalBasis.li3.subheading"
            )
          }}</strong>
          -
          {{
            translationService.translate("privacyPolicy.legalBasis.li3.text")
          }}
        </li>
      </ul>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.legalBasis.subheading2")
        }}</strong
        >{{ translationService.translate("privacyPolicy.legalBasis.text2") }}
      </p>

      <h4 id="m27">
        {{ translationService.translate("privacyPolicy.security.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.security.text1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.security.text2") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.security.text3") }}
      </p>

      <h4 id="m25">
        {{
          translationService.translate("privacyPolicy.dataTransmission.title")
        }}
      </h4>
      <p>
        {{
          translationService.translate("privacyPolicy.dataTransmission.text")
        }}
      </p>

      <h4 id="m24">
        {{
          translationService.translate("privacyPolicy.internationalData.title")
        }}
      </h4>
      <p>
        {{
          translationService.translate("privacyPolicy.internationalData.text1")
        }}
      </p>
      <p>
        {{
          translationService.translate("privacyPolicy.internationalData.text2")
        }}
      </p>
      <p>
        {{
          translationService.translate("privacyPolicy.internationalData.text3")
        }}
      </p>
      <p>
        {{
          translationService.translate(
            "privacyPolicy.internationalData.text4.text"
          )
        }}
        <a href="https://www.dataprivacyframework.gov/" target="_blank">{{
          translationService.translate(
            "privacyPolicy.internationalData.text4.link"
          )
        }}</a>
        {{
          translationService.translate(
            "privacyPolicy.internationalData.text4.languageInfo"
          )
        }}.
      </p>
      <p>
        {{
          translationService.translate(
            "privacyPolicy.internationalData.text5.text"
          )
        }}
        <a
          href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de"
          target="_blank"
          >{{
            translationService.translate(
              "privacyPolicy.internationalData.text5.link"
            )
          }}</a
        >.
      </p>

      <h4 id="m12">
        {{ translationService.translate("privacyPolicy.dataStorage.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text2") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text3") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text4") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text5") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text6") }}
      </p>
      <p>
        <strong>
          {{
            translationService.translate("privacyPolicy.dataStorage.subheading")
          }}
        </strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate("privacyPolicy.dataStorage.ul.title")
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.dataStorage.ul.subheading"
            )
          }}
          <ul>
            <li>
              {{
                translationService.translate("privacyPolicy.dataStorage.ul.li1")
              }}
            </li>
            <li>
              {{
                translationService.translate("privacyPolicy.dataStorage.ul.li2")
              }}
            </li>
            <li>
              {{
                translationService.translate("privacyPolicy.dataStorage.ul.li3")
              }}
            </li>
            <li>
              {{
                translationService.translate("privacyPolicy.dataStorage.ul.li4")
              }}
            </li>
          </ul>
        </li>
      </ul>
      <h4 id="m10">
        {{ translationService.translate("privacyPolicy.rights.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.rights.text") }}
      </p>
      <ul>
        <li>
          <strong>{{
            translationService.translate("privacyPolicy.rights.ul.li1")
          }}</strong>
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.rights.ul.li2.subheading"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.rights.ul.li2.text") }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.rights.ul.li3.subheading"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.rights.ul.li3.text") }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.rights.ul.li4.subheading"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.rights.ul.li4.text") }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.rights.ul.li5.subheading"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.rights.ul.li5.text") }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.rights.ul.li6.subheading"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.rights.ul.li6.text") }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.rights.ul.li7.subheading"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.rights.ul.li7.text") }}
        </li>
      </ul>

      <h4 id="m225">
        {{ translationService.translate("privacyPolicy.webhosting.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.webhosting.text") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li1.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li1.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li2.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li2.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li3.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li3.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li4.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li4.text"
            )
          }}
        </li>
        <li class="">
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li5.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul1.li5.text"
            )
          }}
        </li>
      </ul>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.webhosting.subheading")
        }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li1.subheading1"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li1.text1"
            )
          }}
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.legalBasis"
              )
            }}</strong>
            {{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.li1.text2"
              )
            }}</span
          >
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li2.subheading1"
            )
          }}</strong
          >{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li2.text1"
            )
          }}
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.legalBasis"
              )
            }}</strong>
            {{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.li2.text2"
              )
            }}</span
          ><strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li2.subheading3"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li2.text3"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li3.subheading1"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li3.text1"
            )
          }}
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.legalBasis"
              )
            }}</strong>
            {{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.li3.text2"
              )
            }}</span
          >
        </li>
        <li>
          <strong>ALL-INKL: </strong
          >{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li4.text1"
            )
          }}
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li4.subheading2"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li4.text2"
            )
          }}
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.legalBasis"
              )
            }}</strong>
            {{
              translationService.translate(
                "privacyPolicy.webhosting.ul2.li4.text3"
              )
            }}
          </span>
          <strong>Website:</strong>
          <a href="https://all-inkl.com/" target="_blank"
            >https://all-inkl.com/</a
          >;
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li4.subheading4"
            )
          }}</strong>
          <a
            href="https://all-inkl.com/datenschutzinformationen/"
            target="_blank"
            >https://all-inkl.com/datenschutzinformationen/</a
          >.
          <strong>{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li4.subheading5"
            )
          }}</strong
          >{{
            translationService.translate(
              "privacyPolicy.webhosting.ul2.li4.text5"
            )
          }}
        </li>
      </ul>
      <h4 id="m134">
        {{ translationService.translate("privacyPolicy.cookies.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.cookies.text") }}
      </p>
      <h4 id="m182">
        {{ translationService.translate("privacyPolicy.contact.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.contact.text") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.contact.ul1.li1.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.contact.ul1.li1.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.contact.ul1.li2.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.contact.ul1.li2.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.contact.ul1.li3.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.contact.ul1.li3.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.contact.ul1.li4.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.contact.ul1.li4.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.contact.ul1.li5.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.contact.ul1.li5.text")
          }}
        </li>
      </ul>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.contact.subheading")
        }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.contact.ul2.subheading1"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.contact.ul2.text1") }}
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.contact.ul2.subheading2"
              )
            }}</strong>
            {{
              translationService.translate("privacyPolicy.contact.ul2.text2")
            }}</span
          >
        </li>
      </ul>
      <h4 id="m136">
        {{ translationService.translate("privacyPolicy.socialMedia.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p2") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p3") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p4") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p5") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li1.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li1.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li2.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li2.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li3.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li3.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li4.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li4.text"
            )
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li5.subheading"
            )
          }}</strong>
          {{
            translationService.translate(
              "privacyPolicy.socialMedia.ul1.li5.text"
            )
          }}
        </li>
      </ul>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.socialMedia.subheading")
        }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>LinkedIn: </strong>
          {{
            translationService.translate("privacyPolicy.socialMedia.ul2.text1")
          }}
          <a
            href="https://www.linkedin.com/legal/privacy-policy"
            target="_blank"
            >https://www.linkedin.com/legal/privacy-policy.</a
          ><br />
          {{
            translationService.translate("privacyPolicy.socialMedia.ul2.text2")
          }}
          <a
            href="https://legal.linkedin.com/pages-joint-controller-addendum"
            target="_blank"
            >https://legal.linkedin.com/pages-joint-controller-addendum</a
          >),
          {{
            translationService.translate("privacyPolicy.socialMedia.ul2.text3")
          }}
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul2.subheading1"
            )
          }}</strong>
          LinkedIn Ireland Unlimited Company, Wilton Place, Dublin 2, Irland;
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.socialMedia.ul2.subheading2"
              )
            }}</strong>
            {{
              translationService.translate(
                "privacyPolicy.socialMedia.ul2.text4"
              )
            }}</span
          ><strong>Website:</strong>
          <a href="https://www.linkedin.com" target="_blank"
            >https://www.linkedin.com</a
          >;
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul2.subheading3"
            )
          }}</strong>
          <a
            href="https://www.linkedin.com/legal/privacy-policy"
            target="_blank"
            >https://www.linkedin.com/legal/privacy-policy</a
          >;
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul2.subheading4"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.socialMedia.ul2.text5")
          }}
          (<a href="https://legal.linkedin.com/dpa" target="_blank"
            >https://legal.linkedin.com/dpa</a
          >),
          {{
            translationService.translate("privacyPolicy.socialMedia.ul2.text5")
          }}
          (<a href="https://legal.linkedin.com/dpa" target="_blank"
            >https://legal.linkedin.com/dpa</a
          >).
          <strong>{{
            translationService.translate(
              "privacyPolicy.socialMedia.ul2.subheading5"
            )
          }}</strong>
          <a
            href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
            target="_blank"
            >https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a
          >.
        </li>
      </ul>
      <h4 id="m328">
        {{ translationService.translate("privacyPolicy.plugIns.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.plugIns.p1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.plugIns.p2") }}
      </p>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.plugIns.p3.subheading")
        }}</strong>
        {{ translationService.translate("privacyPolicy.plugIns.p3.text") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul1.li1.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.plugIns.ul1.li1.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul1.li2.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.plugIns.ul1.li2.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul1.li3.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.plugIns.ul1.li3.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul1.li4.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.plugIns.ul1.li4.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul1.li5.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.plugIns.ul1.li5.text")
          }}
        </li>
      </ul>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.plugIns.subheading")
        }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul2.subheading1"
            )
          }}</strong
          >{{ translationService.translate("privacyPolicy.plugIns.ul2.text1") }}
          <strong>{{
            translationService.translate(
              "privacyPolicy.plugIns.ul2.subheading2"
            )
          }}</strong>
          {{ translationService.translate("privacyPolicy.plugIns.ul2.text2") }}
          <span class=""
            ><strong>{{
              translationService.translate(
                "privacyPolicy.plugIns.ul2.subheading3"
              )
            }}</strong>
            {{
              translationService.translate("privacyPolicy.plugIns.ul2.text3")
            }}</span
          >
        </li>
      </ul>
      <h4 id="m15">
        {{ translationService.translate("privacyPolicy.update.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.update.p1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.update.p2") }}
      </p>

      <h4 id="m42">
        {{ translationService.translate("privacyPolicy.definition.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.definition.text") }}
      </p>
      <ul class="glossary">
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li1.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li1.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li2.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li2.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li3.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li3.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li4.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li4.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li5.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li5.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li6.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li6.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li7.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li7.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li8.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li8.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
              "privacyPolicy.definition.ul.li9.subheading"
            )
          }}</strong>
          {{
            translationService.translate("privacyPolicy.definition.ul.li9.text")
          }}
        </li>
      </ul>
      <p class="seal">
        <a
          href="https://datenschutz-generator.de/"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          {{ translationService.translate("privacyPolicy.definition.a") }}</a
        >
      </p>
      <app-footer></app-footer>
    </section>
  </div>
</div>
