<div class="scroll-container">
  <app-header></app-header>
  <div class="wrapper" id="privacy-policy">
    <section>
      <h2>
        {{ translationService.translate("privacyPolicy.headline1") }}<br />{{
        translationService.translate("privacyPolicy.headline2")
        }}
      </h2>
      <h4 id="m4158">
        {{ translationService.translate("privacyPolicy.preamble.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.preamble.text") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.preamble.genderNote") }}
      </p>

      <p>
        {{ translationService.translate("privacyPolicy.preamble.status") }}: 27.
        April 2025
      </p>
      <h4>{{ translationService.translate("privacyPolicy.contents") }}</h4>
      <ul class="index">
        <li>
          <a class="index-link" (click)="scrollTo('m4158', $event)">{{
            translationService.translate("privacyPolicy.preamble.title")
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m3', $event)">{{
            translationService.translate("privacyPolicy.responsible")
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('mOverview', $event)">{{
            translationService.translate("privacyPolicy.overview.title")
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m2427', $event)">{{
            translationService.translate("privacyPolicy.legalBasis.title")
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m27', $event)">{{
            translationService.translate("privacyPolicy.security.title")
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m25', $event)">{{
            translationService.translate("privacyPolicy.dataTransmission.title")
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m24', $event)">{{
            translationService.translate(
            "privacyPolicy.internationalData.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m12', $event)">{{
            translationService.translate(
            "privacyPolicy.dataStorage.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m10', $event)">{{
            translationService.translate(
            "privacyPolicy.rights.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m225', $event)">{{
            translationService.translate(
            "privacyPolicy.webhosting.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m134', $event)">{{
            translationService.translate(
            "privacyPolicy.cookies.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m182', $event)">{{
            translationService.translate(
            "privacyPolicy.contact.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m136', $event)">{{
            translationService.translate(
            "privacyPolicy.socialMedia.title"
            )
            }}</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m328', $event)">Plug-ins und eingebettete Funktionen sowie
            Inhalte</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m15', $event)">Änderung und Aktualisierung</a>
        </li>
        <li>
          <a class="index-link" (click)="scrollTo('m42', $event)">Begriffsdefinitionen</a>
        </li>
      </ul>
      <h4 id="m3">
        {{ translationService.translate("privacyPolicy.responsible") }}
      </h4>
      <p>
        Tobias Klanert<br />Carl-Christian-Agthe-Str. 12<br />06333 Hettstedt
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.representatives") }}:
        Tobias Klanert
      </p>
      <p>E-Mail: tobias.klanert&#64;t-online.de</p>

      <h4 id="mOverview">
        {{ translationService.translate("privacyPolicy.overview.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.overview.text") }}
      </p>
      <h5>
        {{ translationService.translate("privacyPolicy.overview.subheading1") }}
      </h5>
      <ul>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li1") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li2") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li3") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li4") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li5") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul1.li6") }}
        </li>
      </ul>
      <h5>
        {{ translationService.translate("privacyPolicy.overview.subheading2") }}
      </h5>
      <ul>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul2.li1") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul2.li2") }}
        </li>
      </ul>
      <h5>
        {{ translationService.translate("privacyPolicy.overview.subheading3") }}
      </h5>
      <ul>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li1") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li2") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li3") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li4") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li5") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li6") }}
        </li>
        <li>
          {{ translationService.translate("privacyPolicy.overview.ul3.li7") }}
        </li>
      </ul>
      <h4 id="m2427">
        {{ translationService.translate("privacyPolicy.legalBasis.title") }}
      </h4>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.legalBasis.subheading1")
          }}</strong>
        {{ translationService.translate("privacyPolicy.legalBasis.text1") }}
      </p>
      <ul>
        <li>
          <strong>{{
            translationService.translate(
            "privacyPolicy.legalBasis.li1.subheading"
            )
            }}</strong>
          -
          {{
          translationService.translate("privacyPolicy.legalBasis.li1.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
            "privacyPolicy.legalBasis.li2.subheading"
            )
            }}</strong>
          -
          {{
          translationService.translate("privacyPolicy.legalBasis.li2.text")
          }}
        </li>
        <li>
          <strong>{{
            translationService.translate(
            "privacyPolicy.legalBasis.li3.subheading"
            )
            }}</strong>
          -
          {{
          translationService.translate("privacyPolicy.legalBasis.li3.text")
          }}
        </li>
      </ul>
      <p>
        <strong>{{
          translationService.translate("privacyPolicy.legalBasis.subheading2")
          }}</strong>{{ translationService.translate("privacyPolicy.legalBasis.text2") }}
      </p>

      <h4 id="m27">
        {{ translationService.translate("privacyPolicy.security.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.security.text1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.security.text2") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.security.text3") }}
      </p>

      <h4 id="m25">
        {{
        translationService.translate("privacyPolicy.dataTransmission.title")
        }}
      </h4>
      <p>
        {{
        translationService.translate("privacyPolicy.dataTransmission.text")
        }}
      </p>

      <h4 id="m24">
        {{
        translationService.translate("privacyPolicy.internationalData.title")
        }}
      </h4>
      <p>
        {{
        translationService.translate("privacyPolicy.internationalData.text1")
        }}
      </p>
      <p>
        {{
        translationService.translate("privacyPolicy.internationalData.text2")
        }}
      </p>
      <p>
        {{
        translationService.translate("privacyPolicy.internationalData.text3")
        }}
      </p>
      <p>
        {{
        translationService.translate(
        "privacyPolicy.internationalData.text4.text"
        )
        }}
        <a href="https://www.dataprivacyframework.gov/" target="_blank">{{
          translationService.translate(
          "privacyPolicy.internationalData.text4.link"
          )
          }}</a>
        {{
        translationService.translate(
        "privacyPolicy.internationalData.text4.languageInfo"
        )
        }}.
      </p>
      <p>
        {{
        translationService.translate(
        "privacyPolicy.internationalData.text5.text"
        )
        }}
        <a href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de"
          target="_blank">{{
          translationService.translate(
          "privacyPolicy.internationalData.text5.link"
          )
          }}</a>.
      </p>

      <h4 id="m12">
        {{ translationService.translate("privacyPolicy.dataStorage.title") }}
      </h4>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text2") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text3") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text4") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text5") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.dataStorage.text6") }}
      </p>
      <p>
        <strong>
          {{ translationService.translate("privacyPolicy.dataStorage.subheading") }}
        </strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.dataStorage.ul.title") }}</strong>Die folgenden
          {{ translationService.translate("privacyPolicy.dataStorage.ul.subheading") }}
          <ul>
            <li>
              {{ translationService.translate("privacyPolicy.dataStorage.ul.li1") }}
            </li>
            <li>
              {{ translationService.translate("privacyPolicy.dataStorage.ul.li2") }}
            </li>
            <li>
              {{ translationService.translate("privacyPolicy.dataStorage.ul.li3") }}
            </li>
            <li>
              {{ translationService.translate("privacyPolicy.dataStorage.ul.li4") }}
            </li>
          </ul>
        </li>
      </ul>
      <h4 id="m10">{{ translationService.translate("privacyPolicy.rights.title") }}</h4>
      <p>
        {{ translationService.translate("privacyPolicy.rights.text") }}
      </p>
      <ul>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li1") }}</strong>
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li2.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.rights.ul.li2.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li3.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.rights.ul.li3.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li4.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.rights.ul.li4.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li5.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.rights.ul.li5.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li6.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.rights.ul.li6.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.rights.ul.li7.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.rights.ul.li7.text") }}
        </li>
      </ul>

      <h4 id="m225">{{ translationService.translate("privacyPolicy.webhosting.title") }}</h4>
      <p>
        {{ translationService.translate("privacyPolicy.webhosting.text") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul1.li1.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul1.li1.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul1.li2.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul1.li2.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul1.li3.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul1.li3.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul1.li4.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul1.li4.text") }}
        </li>
        <li class="">
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul1.li5.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul1.li5.text") }}
        </li>
      </ul>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.webhosting.subheading") }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li1.subheading1") }}</strong>
          {{ translationService.translate("privacyPolicy.webhosting.ul2.li1.text1") }}
          <span class=""><strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.legalBasis") }}</strong>
            {{ translationService.translate("privacyPolicy.webhosting.ul2.li1.text2") }}</span>
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li2.subheading1") }}</strong>{{
          translationService.translate("privacyPolicy.webhosting.ul2.li2.text1") }}
          <span class=""><strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.legalBasis") }}</strong>
            {{ translationService.translate("privacyPolicy.webhosting.ul2.li2.text2") }}</span><strong>{{
            translationService.translate("privacyPolicy.webhosting.ul2.li2.subheading3") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul2.li2.text3") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li3.subheading1") }}</strong>
          {{ translationService.translate("privacyPolicy.webhosting.ul2.li3.text1") }}
          <span class=""><strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.legalBasis") }}</strong>
            {{ translationService.translate("privacyPolicy.webhosting.ul2.li3.text2") }}</span>
        </li>
        <li>
          <strong>ALL-INKL: </strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li4.text1") }}
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li4.subheading2") }}</strong> {{
          translationService.translate("privacyPolicy.webhosting.ul2.li4.text2") }}
          <span class=""><strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.legalBasis") }}</strong>
            {{ translationService.translate("privacyPolicy.webhosting.ul2.li4.text3") }} </span>
          <strong>Website:</strong>
          <a href="https://all-inkl.com/" target="_blank">https://all-inkl.com/</a>;
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li4.subheading4") }}</strong>
          <a href="https://all-inkl.com/datenschutzinformationen/"
            target="_blank">https://all-inkl.com/datenschutzinformationen/</a>.
          <strong>{{ translationService.translate("privacyPolicy.webhosting.ul2.li4.subheading5") }}</strong>{{
          translationService.translate("privacyPolicy.webhosting.ul2.li4.text5") }}
        </li>
      </ul>
      <h4 id="m134">{{ translationService.translate("privacyPolicy.cookies.title") }}</h4>
      <p>
        {{ translationService.translate("privacyPolicy.cookies.text") }}
      </p>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.cookies.p1.subheading") }}</strong>{{
        translationService.translate("privacyPolicy.cookies.p1.text") }}
      </p>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.cookies.p2.subheading") }}</strong>{{
        translationService.translate("privacyPolicy.cookies.p2.text") }}
      </p>
      <ul>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.cookies.ul1.li1.subheading") }}</strong>
          {{ translationService.translate("privacyPolicy.cookies.ul1.li1.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.cookies.ul1.li2.subheading") }}</strong>
          {{ translationService.translate("privacyPolicy.cookies.ul1.li2.text") }}
        </li>
      </ul>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.cookies.p3.subheading") }}</strong>{{
        translationService.translate("privacyPolicy.cookies.p3.text") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.cookies.ul2.li1.subheading") }}</strong>
          {{ translationService.translate("privacyPolicy.cookies.ul2.li1.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.cookies.ul2.li2.subheading") }}</strong>
          {{ translationService.translate("privacyPolicy.cookies.ul2.li2.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.cookies.ul2.li3.subheading") }}</strong>
          {{ translationService.translate("privacyPolicy.cookies.ul2.li3.text") }}
        </li>
      </ul>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.cookies.subheading") }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.cookies.ul3.subheading1") }}</strong>
          {{ translationService.translate("privacyPolicy.cookies.ul3.text1") }}
          <span class="">
            <strong>{{ translationService.translate("privacyPolicy.cookies.ul3.subheading2") }}</strong>
            {{ translationService.translate("privacyPolicy.cookies.ul3.text2") }}</span>
        </li>
      </ul>
      <h4 id="m182">{{ translationService.translate("privacyPolicy.contact.title") }}</h4>
      <p>
        {{ translationService.translate("privacyPolicy.contact.text") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.contact.ul1.li1.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.contact.ul1.li1.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.contact.ul1.li2.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.contact.ul1.li2.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.contact.ul1.li3.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.contact.ul1.li3.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.contact.ul1.li4.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.contact.ul1.li4.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.contact.ul1.li5.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.contact.ul1.li5.text") }}
        </li>
      </ul>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.contact.subheading") }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.contact.ul2.subheading1") }}</strong>
          {{ translationService.translate("privacyPolicy.contact.ul2.text1") }}
          <span class=""><strong>{{ translationService.translate("privacyPolicy.contact.ul2.subheading2") }}</strong>
            {{ translationService.translate("privacyPolicy.contact.ul2.text2") }}</span>
        </li>
      </ul>
      <h4 id="m136">{{ translationService.translate("privacyPolicy.socialMedia.title") }}</h4>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p1") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p2") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p3") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p4") }}
      </p>
      <p>
        {{ translationService.translate("privacyPolicy.socialMedia.p5") }}
      </p>
      <ul class="m-elements">
        <li>
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul1.li1.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.socialMedia.ul1.li1.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul1.li2.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.socialMedia.ul1.li2.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul1.li3.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.socialMedia.ul1.li3.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul1.li4.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.socialMedia.ul1.li4.text") }}
        </li>
        <li>
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul1.li5.subheading") }}</strong> {{
          translationService.translate("privacyPolicy.socialMedia.ul1.li5.text") }}
        </li>
      </ul>
      <p>
        <strong>{{ translationService.translate("privacyPolicy.socialMedia.subheading") }}</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>LinkedIn: </strong>
          {{ translationService.translate("privacyPolicy.socialMedia.ul2.text1") }}
          <a href="https://www.linkedin.com/legal/privacy-policy"
            target="_blank">https://www.linkedin.com/legal/privacy-policy.</a><br />
          {{ translationService.translate("privacyPolicy.socialMedia.ul2.text2") }}
          <a href="https://legal.linkedin.com/pages-joint-controller-addendum"
            target="_blank">https://legal.linkedin.com/pages-joint-controller-addendum</a>),
          {{ translationService.translate("privacyPolicy.socialMedia.ul2.text3") }}
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul2.subheading1") }}</strong>
          LinkedIn Ireland Unlimited Company,
          Wilton Place, Dublin 2, Irland;
          <span class=""><strong>{{ translationService.translate("privacyPolicy.socialMedia.ul2.subheading2")
              }}</strong>
            {{ translationService.translate("privacyPolicy.socialMedia.ul2.text4") }}</span><strong>Website:</strong>
          <a href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>;
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul2.subheading3") }}</strong>
          <a href="https://www.linkedin.com/legal/privacy-policy"
            target="_blank">https://www.linkedin.com/legal/privacy-policy</a>;
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul2.subheading4") }}</strong>
          {{ translationService.translate("privacyPolicy.socialMedia.ul2.text5") }} (<a
            href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>), {{
          translationService.translate("privacyPolicy.socialMedia.ul2.text5") }}
          (<a href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>).
          <strong>{{ translationService.translate("privacyPolicy.socialMedia.ul2.subheading5") }}</strong>
          <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
            target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.
        </li>
      </ul>
      <h4 id="m328">Plug-ins und eingebettete Funktionen sowie Inhalte</h4>
      <p>
        Wir binden Funktions- und Inhaltselemente in unser Onlineangebot ein,
        die von den Servern ihrer jeweiligen Anbieter (nachfolgend als
        „Drittanbieter" bezeichnet) bezogen werden. Dabei kann es sich zum
        Beispiel um Grafiken, Videos oder Stadtpläne handeln (nachfolgend
        einheitlich als „Inhalte" bezeichnet).
      </p>
      <p>
        Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte
        die IP-Adresse der Nutzer verarbeiten, da sie ohne IP-Adresse die
        Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit
        für die Darstellung dieser Inhalte oder Funktionen erforderlich. Wir
        bemühen uns, nur solche Inhalte zu verwenden, deren jeweilige Anbieter
        die IP-Adresse lediglich zur Auslieferung der Inhalte anzuwenden.
        Drittanbieter können ferner sogenannte Pixel-Tags (unsichtbare Grafiken,
        auch als „Web Beacons" bezeichnet) für statistische oder Marketingzwecke
        einsetzen. Durch die „Pixel-Tags" können Informationen, wie etwa der
        Besucherverkehr auf den Seiten dieser Website, ausgewertet werden. Die
        pseudonymen Informationen können darüber hinaus in Cookies auf dem Gerät
        der Nutzer gespeichert werden und unter anderem technische Auskünfte zum
        Browser und zum Betriebssystem, zu verweisenden Websites, zur
        Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebots
        enthalten, aber auch mit solchen Informationen aus anderen Quellen
        verbunden werden.
      </p>
      <p>
        <strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer um
        ihre Einwilligung in den Einsatz der Drittanbieter bitten, stellt die
        Rechtsgrundlage der Datenverarbeitung die Erlaubnis dar. Ansonsten
        werden die Nutzerdaten auf Grundlage unserer berechtigten Interessen (d.
        h. Interesse an effizienten, wirtschaftlichen und empfängerfreundlichen
        Leistungen) verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf
        die Informationen zur Verwendung von Cookies in dieser
        Datenschutzerklärung hinweisen.
      </p>
      <ul class="m-elements">
        <li>
          <strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z. B.
          Seitenaufrufe und Verweildauer, Klickpfade, Nutzungsintensität und
          -frequenz, verwendete Gerätetypen und Betriebssysteme, Interaktionen
          mit Inhalten und Funktionen). Meta-, Kommunikations- und
          Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
          Identifikationsnummern, beteiligte Personen).
        </li>
        <li>
          <strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher,
          Nutzer von Onlinediensten).
        </li>
        <li>
          <strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres
          Onlineangebotes und Nutzerfreundlichkeit.
        </li>
        <li>
          <strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend
          Angaben im Abschnitt "Allgemeine Informationen zur Datenspeicherung
          und Löschung". Speicherung von Cookies von bis zu 2 Jahren (Sofern
          nicht anders angegeben, können Cookies und ähnliche Speichermethoden
          für einen Zeitraum von zwei Jahren auf den Geräten der Nutzer
          gespeichert werden.).
        </li>
        <li class="">
          <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1
          lit. a) DSGVO). Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
          DSGVO).
        </li>
      </ul>
      <p>
        <strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und
          Diensten:</strong>
      </p>
      <ul class="m-elements">
        <li>
          <strong>Google Fonts (Bereitstellung auf eigenem Server): </strong>Bereitstellung von Schriftarten-Dateien
          zwecks einer
          nutzerfreundlichen Darstellung unseres Onlineangebotes;
          <strong>Dienstanbieter:</strong> Die Google Fonts werden auf unserem
          Server gehostet, es werden keine Daten an Google übermittelt;
          <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6
            Abs. 1 S. 1 lit. f) DSGVO).</span>
        </li>
      </ul>
      <h4 id="m15">Änderung und Aktualisierung</h4>
      <p>
        Wir bitten Sie, sich regelmäßig über den Inhalt unserer
        Datenschutzerklärung zu informieren. Wir passen die Datenschutzerklärung
        an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen
        dies erforderlich machen. Wir informieren Sie, sobald durch die
        Änderungen eine Mitwirkungshandlung Ihrerseits (z. B. Einwilligung) oder
        eine sonstige individuelle Benachrichtigung erforderlich wird.
      </p>
      <p>
        Sofern wir in dieser Datenschutzerklärung Adressen und
        Kontaktinformationen von Unternehmen und Organisationen angeben, bitten
        wir zu beachten, dass die Adressen sich über die Zeit ändern können und
        bitten die Angaben vor Kontaktaufnahme zu prüfen.
      </p>

      <h4 id="m42">Begriffsdefinitionen</h4>
      <p>
        In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser
        Datenschutzerklärung verwendeten Begrifflichkeiten. Soweit die
        Begrifflichkeiten gesetzlich definiert sind, gelten deren gesetzliche
        Definitionen. Die nachfolgenden Erläuterungen sollen dagegen vor allem
        dem Verständnis dienen.
      </p>
      <ul class="glossary">
        <li>
          <strong>Bestandsdaten:</strong> Bestandsdaten umfassen wesentliche
          Informationen, die für die Identifikation und Verwaltung von
          Vertragspartnern, Benutzerkonten, Profilen und ähnlichen Zuordnungen
          notwendig sind. Diese Daten können u.a. persönliche und demografische
          Angaben wie Namen, Kontaktinformationen (Adressen, Telefonnummern,
          E-Mail-Adressen), Geburtsdaten und spezifische Identifikatoren
          (Benutzer-IDs) beinhalten. Bestandsdaten bilden die Grundlage für
          jegliche formelle Interaktion zwischen Personen und Diensten,
          Einrichtungen oder Systemen, indem sie eine eindeutige Zuordnung und
          Kommunikation ermöglichen.
        </li>
        <li>
          <strong>Inhaltsdaten:</strong> Inhaltsdaten umfassen Informationen,
          die im Zuge der Erstellung, Bearbeitung und Veröffentlichung von
          Inhalten aller Art generiert werden. Diese Kategorie von Daten kann
          Texte, Bilder, Videos, Audiodateien und andere multimediale Inhalte
          einschließen, die auf verschiedenen Plattformen und Medien
          veröffentlicht werden. Inhaltsdaten sind nicht nur auf den
          eigentlichen Inhalt beschränkt, sondern beinhalten auch Metadaten, die
          Informationen über den Inhalt selbst liefern, wie Tags,
          Beschreibungen, Autoreninformationen und Veröffentlichungsdaten
        </li>
        <li>
          <strong>Kontaktdaten:</strong> Kontaktdaten sind essentielle
          Informationen, die die Kommunikation mit Personen oder Organisationen
          ermöglichen. Sie umfassen u.a. Telefonnummern, postalische Adressen
          und E-Mail-Adressen, sowie Kommunikationsmittel wie soziale
          Medien-Handles und Instant-Messaging-Identifikatoren.
        </li>
        <li>
          <strong>Meta-, Kommunikations- und Verfahrensdaten:</strong> Meta-,
          Kommunikations- und Verfahrensdaten sind Kategorien, die Informationen
          über die Art und Weise enthalten, wie Daten verarbeitet, übermittelt
          und verwaltet werden. Meta-Daten, auch bekannt als Daten über Daten,
          umfassen Informationen, die den Kontext, die Herkunft und die Struktur
          anderer Daten beschreiben. Sie können Angaben zur Dateigröße, dem
          Erstellungsdatum, dem Autor eines Dokuments und den Änderungshistorien
          beinhalten. Kommunikationsdaten erfassen den Austausch von
          Informationen zwischen Nutzern über verschiedene Kanäle, wie
          E-Mail-Verkehr, Anrufprotokolle, Nachrichten in sozialen Netzwerken
          und Chat-Verläufe, inklusive der beteiligten Personen, Zeitstempel und
          Übertragungswege. Verfahrensdaten beschreiben die Prozesse und Abläufe
          innerhalb von Systemen oder Organisationen, einschließlich
          Workflow-Dokumentationen, Protokolle von Transaktionen und
          Aktivitäten, sowie Audit-Logs, die zur Nachverfolgung und Überprüfung
          von Vorgängen verwendet werden.
        </li>
        <li>
          <strong>Nutzungsdaten:</strong> Nutzungsdaten beziehen sich auf
          Informationen, die erfassen, wie Nutzer mit digitalen Produkten,
          Dienstleistungen oder Plattformen interagieren. Diese Daten umfassen
          eine breite Palette von Informationen, die aufzeigen, wie Nutzer
          Anwendungen nutzen, welche Funktionen sie bevorzugen, wie lange sie
          auf bestimmten Seiten verweilen und über welche Pfade sie durch eine
          Anwendung navigieren. Nutzungsdaten können auch die Häufigkeit der
          Nutzung, Zeitstempel von Aktivitäten, IP-Adressen, Geräteinformationen
          und Standortdaten einschließen. Sie sind besonders wertvoll für die
          Analyse des Nutzerverhaltens, die Optimierung von Benutzererfahrungen,
          das Personalisieren von Inhalten und das Verbessern von Produkten oder
          Dienstleistungen. Darüber hinaus spielen Nutzungsdaten eine
          entscheidende Rolle beim Erkennen von Trends, Vorlieben und möglichen
          Problembereichen innerhalb digitaler Angebote
        </li>
        <li>
          <strong>Personenbezogene Daten:</strong> "Personenbezogene Daten" sind
          alle Informationen, die sich auf eine identifizierte oder
          identifizierbare natürliche Person (im Folgenden "betroffene Person")
          beziehen; als identifizierbar wird eine natürliche Person angesehen,
          die direkt oder indirekt, insbesondere mittels Zuordnung zu einer
          Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu
          einer Online-Kennung (z. B. Cookie) oder zu einem oder mehreren
          besonderen Merkmalen identifiziert werden kann, die Ausdruck der
          physischen, physiologischen, genetischen, psychischen,
          wirtschaftlichen, kulturellen oder sozialen Identität dieser
          natürlichen Person sind.
        </li>
        <li>
          <strong>Protokolldaten:</strong> Protokolldaten sind Informationen
          über Ereignisse oder Aktivitäten, die in einem System oder Netzwerk
          protokolliert wurden. Diese Daten enthalten typischerweise
          Informationen wie Zeitstempel, IP-Adressen, Benutzeraktionen,
          Fehlermeldungen und andere Details über die Nutzung oder den Betrieb
          eines Systems. Protokolldaten werden oft zur Analyse von
          Systemproblemen, zur Sicherheitsüberwachung oder zur Erstellung von
          Leistungsberichten verwendet.
        </li>
        <li>
          <strong>Verantwortlicher:</strong> Als "Verantwortlicher" wird die
          natürliche oder juristische Person, Behörde, Einrichtung oder andere
          Stelle, die allein oder gemeinsam mit anderen über die Zwecke und
          Mittel der Verarbeitung von personenbezogenen Daten entscheidet,
          bezeichnet.
        </li>
        <li>
          <strong>Verarbeitung:</strong> "Verarbeitung" ist jeder mit oder ohne
          Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche
          Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff
          reicht weit und umfasst praktisch jeden Umgang mit Daten, sei es das
          Erheben, das Auswerten, das Speichern, das Übermitteln oder das
          Löschen.
        </li>
      </ul>
      <p class="seal">
        <a href="https://datenschutz-generator.de/"
          title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
          rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
          Schwenke</a>
      </p>
      <app-footer></app-footer>
    </section>
  </div>
</div>