@import "../variables";
@import "../mixins.scss";

.wrapper {
  @include dFlex();
  min-height: 100vh;
  width: 100vw;
  background-color: $background-blue;
}

section {
  @include standardSection();
  color: $highlight-white;
}