@import "../../../variables";
@import "../../../mixins.scss";

section {
  @include dFlex($jc: space-between, $ai: flex-end);
  width: 100%;
  color: $highlight-white;

  .spinner {
    position: relative;
    .clockwise {
      @include rotate-image();
      width: 180px;
      height: 180px;
    }

    .counterclockwise {
      @include rotate-image-negative();
      width: 263px;
      height: 263px;
      position: absolute;
      left: 110px;
      bottom: 0;
    }
  }

  .text-container {
    @include dFlex($jc: space-between);
    width: 50%;
    p {
      padding-bottom: 56px;
    }
    .links {
      @include dFlex($g: 32px);
      padding-bottom: 56px;
      a {
        @include standardText();
        color: $highlight-white;
        transition: all 125ms ease-in-out;
        &:hover {
          color: $highlight-orange;
        }
      }
    }
  }

  @media screen and (max-width: 1220px) {
    .text-container {
      @include dFlex($fd: column);
      p {
        padding-bottom: 28px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    @include dFlex($fd: column, $ai: center);

    .spinner {
      @include dFlex($jc: center, $ai: flex-end);
      order: 2;
      width: 100%;
      .clockwise {
        width: 170px;
        height: 170px;
      }
      .counterclockwise {
        position: static;
        width: 250px;
        height: 250px;
      }
    }

    .text-container {
      width: 100%;
      .links {
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}
