@import "../../../variables";
@import "../../../mixins.scss";

section {
  @include dFlex($jc: space-between, $ai: flex-end);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 72px;
  color: $highlight-white;
}

a {
  @include standardText();
  color: $highlight-white;
  transition: all 125ms ease-in-out;
  &:hover {
    color: $highlight-orange;
  }
}

p {
  padding-bottom: 56px;
}

.spinner {
  position: relative;
}

.clockwise {
  @include rotate-image();
  width: 180px;
  height: 180px;
}

.counterclockwise {
  @include rotate-image-negative();
  width: 263px;
  height: 263px;
  position: absolute;
  left: 110px;
  bottom: 0;
}

.links {
  @include dFlex($g: 32px);
  padding-bottom: 56px;
}
