<footer [class.light-text]="isLightText" [class.dark-text]="!isLightText">
  <div class="spinner">
    <div class="clockwise">
      <img src="/assets/img/spinning_shape.svg" alt="" />
    </div>
    <div class="counterclockwise">
      <img src="/assets/img/spinning_shape_blue.svg" alt="" />
    </div>
  </div>
  <div class="text-container">
    <p>© Tobias Klanert 2026</p>
    <div class="links">
      <a routerLink="/imprint">{{ translationService.translate("footer") }}</a>
      <a
        href="https://www.linkedin.com/in/tobias-klanert-80563731a/"
        target="_blank"
        >LinkedIn</a
      >
      <a href="https://github.com/TobiasKlanert" target="_blank">Github</a>
    </div>
  </div>
</footer>
