@import "../../../variables";
@import "../../../mixins.scss";

footer {
  @include dFlex($jc: space-between, $ai: flex-end);
  width: 100%;
  /* color: $highlight-white; */

  &.light-text {
    color: $highlight-white;
    a {
      color: $highlight-white;
    }
  }

  &.dark-text {
    color: $highlight-dark;
    a {
      color: $highlight-dark;
    }
  }

  .spinner {
    position: relative;
    height: 250px;

    .clockwise,
    .counterclockwise {
      position: absolute;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        animation: none;
        display: block;
      }
    }

    .clockwise {
      left: 0;
      width: 180px;
      height: 180px;
      z-index: 2;
      img {
        @include rotate-image;
      }
    }

    .counterclockwise {
      left: 65px;
      width: 263px;
      height: 263px;
      z-index: 1;
      img {
        @include rotate-image-negative;
      }
    }
  }

  .text-container {
    @include dFlex($jc: space-between);
    width: 50%;
    p {
      padding-bottom: 56px;
    }
    .links {
      @include dFlex($g: 32px);
      padding-bottom: 56px;
      a {
        @include standardText();
        /* color: $highlight-white; */
        transition: all 125ms ease-in-out;
        &:hover {
          color: $highlight-orange;
        }
      }
    }
  }

  @media screen and (max-width: 1220px) {
    .text-container {
      @include dFlex($fd: column);
      p {
        padding-bottom: 16px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    @include dFlex($fd: column, $ai: center);

    .spinner {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      order: 2;

      .clockwise,
      .counterclockwise {
        left: 50%;
        /* transform: translateX(-50%); */
      }

      .clockwise {
        width: 171px;
        height: 171px;
        transform: translateX(-50%) translateX(-65px);
      }

      .counterclockwise {
        width: 250px;
        height: 250px;
        transform: translateX(-50%) translateX(65px);
      }
    }

    .text-container {
      width: 100%;
      .links {
        justify-content: space-between;
        width: 100%;
        padding-bottom: 40px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .spinner {
      height: 190px;
      .clockwise {
        width: 130px;
        height: 130px;
      }

      .counterclockwise {
        width: 190px;
        height: 190px;
        transform: translateX(-50%) translateX(35px);
      }
    }
  }
}
