<app-header></app-header>
<div class="wrapper" id="imprint">
  <section>
    <h2>{{ translationService.translate("imprint.headline") }}</h2>
    <p>
      {{ translationService.translate("imprint.personalInformation.headline") }}
    </p>
    <p>
      Tobias Klanert<br />
      <br />
      Carl-Christian-Agthe-Str. 12<br />
      06333 Hettstedt <br />
    </p>
    <h4>
      {{
        translationService.translate("imprint.personalInformation.subheading")
      }}
    </h4>
    <p>Tobias Klanert<br /></p>
    <h4>
      {{
        translationService.translate(
          "imprint.personalInformation.contact.headline"
        )
      }}
    </h4>
    <p>
      {{
        translationService.translate(
          "imprint.personalInformation.contact.phone"
        )
      }}
      <a href="tel:+4915253562862">01525-3562862</a><br />
      E-Mail:
      <a href="mailto:tobias.klanert@t-online.de"
        >tobias.klanert&#64;t-online.de</a
      >
      <br />
    </p>
    <h4>{{ translationService.translate("imprint.disclaimer.headline") }}</h4>
    <h5>
      {{ translationService.translate("imprint.disclaimer.content.subheading") }}
    </h5>
    <p>
      {{ translationService.translate("imprint.disclaimer.content.text") }}
    </p>
    <h5>
      {{ translationService.translate("imprint.disclaimer.links.subheading") }}
    </h5>
    <p>
      {{ translationService.translate("imprint.disclaimer.links.text") }}
    </p>
    <h5>
      {{
        translationService.translate("imprint.disclaimer.copyright.subheading")
      }}
    </h5>
    <p>
      {{ translationService.translate("imprint.disclaimer.copyright.text") }}
    </p>
    <h5>{{ translationService.translate("imprint.disclaimer.data.subheading") }}</h5>
    <p>
      {{ translationService.translate("imprint.disclaimer.data.text") }}
    </p>
    <h5>{{ translationService.translate("imprint.disclaimer.design.subheading") }}</h5>
    <p>
      {{ translationService.translate("imprint.disclaimer.design.text") }}
      <a target="_blank" href="https://developerakademie.com/"
        >Developer Akademie</a
      >.
    </p>

    <p>
      {{ translationService.translate("imprint.disclaimer.source") }}
      <a href="https://impressum-generator.de" target="_blank"
        >Impressum-Generator.de</a
      >. Powered by
      <a href="https://www.kanzlei-hasselbach.de/" target="_blank"
        >Franziska Hasselbach, Bonn</a
      >.
    </p>

    <!-- <app-footer></app-footer> -->
  </section>
</div>
