* {
  margin: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Eczar";
  font-size: 96px;
  line-height: 100%;
}

h2 {
  font-family: "Eczar";
  font-size: 72px;
}

h3 {
  font-family: "Quicksand";
  font-size: 48px;
  line-height: 100%;
  font-weight: 400;
}

h4 {
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 700;
}

button,
a {
  cursor: pointer;
}

p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

/* eczar-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Eczar";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/eczar-v22-latin/eczar-v22-latin-700.woff2")
    format("woff2");
}

/* quicksand-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/quicksand-v36-latin/quicksand-v36-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/quicksand-v36-latin/quicksand-v36-latin-600.woff2")
    format("woff2");
}
/* quicksand-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/quicksand-v36-latin/quicksand-v36-latin-700.woff2")
    format("woff2");
}
